.card,
.card__add {
  transition: 0.2s;
}

.card:hover {
  //scale: 1.015;
  background-color: $hoverCard;
  transition: 0.2s;
}

.card__add:hover {
  background-color: $hoverButton;
  transition: 0.2s;
}
