* {
  transition: 0.2s;
}

.card:hover {
  background-color: $hoverCard;
}

.card__add:hover,
.header-basket:hover{
  background-color: $hoverButton;
}

.scrollToTop:hover {
  opacity: 1;
  height: 100px;
}
